*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Tahoma,Arial;
}
.slider-container{
    width: 800px;
    height:250px;
    margin: 10px auto;
    position: relative;
    
}
.slider-container img{
    width:100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: opacity 1s;
    
}
.slider-container img.active{
    opacity:1;
}
.slider-container .slide-number{
    
    position: absolute;
    z-index: 2;
    left: 10px;
    top:10px;
    background-color: #000;
    color:#ccc;
    padding: 5px;
}
.slider-controls {
    width:800px;
    margin:30px auto;
    overflow:hidden;
}
.slider-controls .prev,
.slider-controls .next{
    width:20%;
    background-color: darkcyan;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.slider-controls .prev .disabled,
.slider-controls .next .disabled{
    background-color:rgba(0, 139, 139, 0.44);
    color:rgb(87, 87, 87);
}

.slider-controls .prev{
    float:left;
}
.slider-controls .next{
    float:right;
}
.slider-controls .indicators{
    width: 60%;
    float: left;
}
.slider-controls .indicators ul{
    list-style: none;
    margin:0;
    text-align: center;
}
.slider-controls .indicators ul li{
    display: inline-block;
    width:28px;
    height:28px;
    border-radius:5px;
    background-color: #ddd;
    color: #333;
    margin: 0 6px;
    line-height: 28px;
    cursor: pointer;
}
.slider-controls .indicators ul li.active{
    background-color: darkcyan;
    color: white;
}